tema5/ValidacionesXML/ejercicios4.5/ejercicio1/doctype.dtd

<!ELEMENT biblioteca (libros+)>
<!ELEMENT libros (cod_libro,titulo, editorial,edicion,isbn,num_pag,autor)>
<!ELEMENT cod_libro (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT edicion (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT num_pag (#PCDATA)>
<!ELEMENT autor (#PCDATA)>


<!-- cod_libro-->
<!ATTLIST cod_libro cod  CDATA #REQUIRED>
<!-- editoriañ-->
<!ATTLIST editorial editor  CDATA #REQUIRED>
<!-- cod_libro-->
<!ATTLIST edicion anio  CDATA #REQUIRED>
