tema5/PracticaValidacionesXML/Relacion2/ejercicio1/doctype.dtd

<!ELEMENT biblioteca (libros+)>
<!ELEMENT libros (cod_libro,titulo,editorial,edicion,isbn,num_pag,autor)>

<!ELEMENT cod_libro (#PCDATA)>
<!ATTLIST cod_libro cod CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>

<!ELEMENT editorial (#PCDATA)>
<!ATTLIST editorial editor CDATA #REQUIRED>

<!ELEMENT edicion (#PCDATA)>
<!ATTLIST edicion anio CDATA #REQUIRED>

<!ELEMENT isbn (#PCDATA)>
<!ELEMENT num_pag (#PCDATA)>
<!ELEMENT autor (#PCDATA)>