tema5/PracticaValidacionesXML2/Pruebas/prueba3/doctype.dtd

<!ELEMENT eventos (evento+)>

<!ELEMENT evento (presencial)>

<!-- <!ELEMENT presencial ((direccion|sala) | (plataforma|enlace))>-->
<!ELEMENT presencial ((direccion,sala+) | (plataforma,enlace))>

<!ELEMENT direccion (#PCDATA)>
<!ELEMENT sala (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT enlace (#PCDATA)>